---
import type { GetStaticPaths } from 'astro';

import '../../styles/global.css';
import { t } from '@i18n/utils';
import Header from '@components/Header.astro';
import BodyTextContainer from '@components/BodyTextContainer.astro';
import HeaderContainer from '@components/HeaderContainer.astro';
import HeaderContainerStudio from '@components/HeaderContainerStudio.astro';
import Hero from '@components/Hero.astro';
import ScrollHint from '@components/ScrollHint.astro';

export const getStaticPaths = (() => {
  return [
    { params: { locale: 'en' } },
  ];
}) satisfies GetStaticPaths;

const { locale } = Astro.params;
const i18n = t(locale);
---

<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Component Test</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Instrument+Serif:ital@1&family=Public+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Hero>
      <HeaderContainer text={i18n.intro.header1} />
      <div class="hero-row">
        <HeaderContainerStudio text={i18n.intro.header2} />
        <BodyTextContainer text={i18n.intro.body} />
      </div>
      <ScrollHint>{i18n.intro.scrollHint}</ScrollHint>
    </Hero>
    <Header locale={locale} />
  </body>
</html>
